# Ignore IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Ignore Maven build output
target/

# Ignore Eclipse files
.classpath
.project
.settings/

# Ignore VS Code files
.vscode/

# Ignore macOS files
.DS_Store